@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #030712;
  --foreground: #f8f9fa;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #030712;
  color: var(--foreground);
}

/* Custom scrollbar styling */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(75, 85, 99, 0.1);
}

::-webkit-scrollbar-thumb {
  background: rgba(139, 145, 152, 0.5);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(139, 145, 152, 0.8);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
